@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
    background: linear-gradient(to bottom, #ffffff, #e3e2e2) fixed;
}

.scrollbar::-webkit-scrollbar {
    width: .7em;
}
 
.scrollbar::-webkit-scrollbar-track {
    background-color: #dedede;
}
 
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4C5A77;
}