@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




.scrollbar::-webkit-scrollbar {
    width: .6em;
}
 
.scrollbar::-webkit-scrollbar-track {
    background-color: #dedede;
}
 
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4C5A77;
}

.scrollbarIvisible::-webkit-scrollbar{
  width: 0;
}